// app global css in Stylus form

// Fonts
@font-face {
  font-family: 'PS2P';
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
}

// Css breakpoints and estructures

$bp-small = 48em; // 768px
$bp-medium = 64em; // 1024px
$bp-large = 85.375em; // 1366px
$bp-xlarge = 120em; // 1920px
$bp-xxlarge = 160em; // 2560px

.container
  margin 0 4%

  @media $mq-medium
    margin 0 8%

  @media $mq-large
    margin 0 12%

  @media $mq-xlarge
    margin 0 18%
