// app global css in Stylus form

$fighting = #d36063
$grass = #204000
$bug = #91ba2e
$fire =#f67f0b
$water =#36aff6
$normal =#eaeade
$flying =#5eb9b2
$poison = #ca72ec
$eletric =#fffa24
$ground =#bfac21
$psychic =#fcb6d0
$rock = #b4a270
$ice = #103d43
$ghost = #bd98cb
$dragon = #29036a
$dark = #4f4f4f
$steel =#7b8e8a
$fairy = #f87ea7

// Fonts
@font-face {
  font-family: 'PS2P';
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
}

// Css breakpoints and estructures

$bp-small = 48em; // 768px
$bp-medium = 64em; // 1024px
$bp-large = 85.375em; // 1366px
$bp-xlarge = 120em; // 1920px
$bp-xxlarge = 160em; // 2560px

.container
  margin 0 4%

  @media $mq-medium
    margin 0 8%

  @media $mq-large
    margin 0 12%

  @media $mq-xlarge
    margin 0 18%
